@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary_color: white;
  --secondary_color: black;
}

.container {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: var(--primary_color);
  width: 50vw;
  box-shadow: 2px 2px 10px;
  padding: 20px 20px;
}

.box h1 {
  border: 2px solid;
  margin-bottom: 10px;

  text-align: center;
}
.custom-heading {
  background-color: var(--secondary_color);
  padding: 5px;
  text-align: center;
  color: var(--primary_color);
  margin: 5px 0;
}
img {
  aspect-ratio: 1;
  height: 120px;
  border-radius: 10px;
  margin: 10px 0;
}
.flex {
  display: flex;
  justify-content: space-around;
  border: 2px solid;
}

.border {
  border: 2px solid;
}
fieldset {
  border: 2px solid;
}
fieldset label {
  width: 300px;
  margin: 5px 0;
}

fieldset div {
  border: none !important;
}

figure p {
  margin: 5px 0;
}

fieldset input {
  width: 200px;
  margin: 5px 0;
}
.advance-flex {
  gap: 40px;
  padding: 10px 0;
  justify-content: center;
}
.btn {
  padding: 10px 26px;
  display: block;
  margin: auto;
  color: var(--primary_color);
  background-color: var(--secondary_color);
  border-radius: 10px;
  margin: 20px auto;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  color: var(--secondary_color);
  background-color: var(--primary_color);
}
#printData {
  display: none;
  height: auto;
  border: 2px solid;
  padding: 20px;
}

#printData div {
  margin: 10px 40px;
  display: flex;
  justify-content: start;
  gap: 20px;
}
#printData div p {
  font-weight: 600;
  font-size: 17px;
  width: 200px;
}
#printData div span {
  width: 150px;
}
